In [61]:
import json
import numpy as np
import pandas as pd

In [62]:
input_no_info = pd.read_csv('./MAL_data/input_no_info.csv')
input_no_info

,a0,a1,a2,a3,a4,a5,a6,a7,a8,a9,ar,like
0,33352,25013,5530,33674,1482,269,18245,2904,27899,17074,34096,Y
1,33352,25013,5530,33674,1482,269,18245,2904,27899,17074,12403,N
2,33352,25013,5530,33674,1482,269,18245,2904,27899,17074,35073,N
3,33352,25013,5530,33674,1482,269,18245,2904,27899,17074,23225,Y
4,33352,25013,5530,33674,1482,269,18245,2904,27899,17074,2035,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
161642,36563,237,23273,32979,23283,12189,5114,4282,0,0,2593,Y
161643,6624,20785,17265,28121,0,0,0,0,0,0,2593,Y
161644,47,523,820,30,339,0,0,0,0,0,2593,Y
161645,10087,21327,585,28851,32281,431,578,5114,1535,0,2593,Y
161646,37510,35180,30,31043,5081,37450,11843,0,0,0,2593,Y

In [63]:
animes_data = pd.read_csv('./MAL_data/animes.csv')
animes_data = animes_data.drop_duplicates()
animes_data

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,img_url,link
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...","Oct 4, 2015 to Mar 27, 2016",25.0,489888,141,25.0,8.82,https://cdn.myanimelist.net/images/anime/9/766...,https://myanimelist.net/anime/28891/Haikyuu_Se...
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"['Drama', 'Music', 'Romance', 'School', 'Shoun...","Oct 10, 2014 to Mar 20, 2015",22.0,995473,28,24.0,8.83,https://cdn.myanimelist.net/images/anime/3/671...,https://myanimelist.net/anime/23273/Shigatsu_w...
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...","Jul 7, 2017 to Sep 29, 2017",13.0,581663,98,23.0,8.83,https://cdn.myanimelist.net/images/anime/6/867...,https://myanimelist.net/anime/34599/Made_in_Abyss
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...","['Action', 'Military', 'Adventure', 'Comedy', ...","Apr 5, 2009 to Jul 4, 2010",64.0,1615084,4,1.0,9.23,https://cdn.myanimelist.net/images/anime/1223/...,https://myanimelist.net/anime/5114/Fullmetal_A...
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,"['Action', 'Mystery', 'Supernatural', 'Vampire']","Jan 6, 2017",1.0,214621,502,22.0,8.83,https://cdn.myanimelist.net/images/anime/3/815...,https://myanimelist.net/anime/31758/Kizumonoga...
...,...,...,...,...,...,...,...,...,...,...,...,...
19002,10075,Naruto x UT,All-new animation offered throughout UNIQLO cl...,"['Action', 'Comedy', 'Super Power', 'Martial A...","Jan 1, 2011",1.0,34155,2382,1728.0,7.50,https://cdn.myanimelist.net/images/anime/3/304...,https://myanimelist.net/anime/10075/Naruto_x_UT
19003,35828,Miira no Kaikata,High school student Sora Kashiwagi is accustom...,"['Slice of Life', 'Comedy', 'Supernatural']","Jan 12, 2018 to Mar 30, 2018",12.0,61459,1648,1727.0,7.50,https://cdn.myanimelist.net/images/anime/1486/...,https://myanimelist.net/anime/35828/Miira_no_K...
19004,10378,Shinryaku!? Ika Musume,"After regaining her squid-like abilities, Ika ...","['Slice of Life', 'Comedy', 'Shounen']","Sep 27, 2011 to Dec 25, 2011",12.0,67422,1547,1548.0,7.56,https://cdn.myanimelist.net/images/anime/6/301...,https://myanimelist.net/anime/10378/Shinryaku_...
19005,33082,Kingsglaive: Final Fantasy XV,"For years, the Niflheim Empire and the kingdom...",['Action'],"Jul 9, 2016",1.0,41077,2154,1544.0,7.56,https://cdn.myanimelist.net/images/anime/12/79...,https://myanimelist.net/anime/33082/Kingsglaiv...
19006,16934,Chuunibyou demo Koi ga Shitai!: Kirameki no......,Although Yuuta Togashi and Rikka Takanashi hav...,"['Comedy', 'Drama', 'Romance', 'School', 'Slic...","Jun 19, 2013",1.0,128400,883,1533.0,7.56,https://cdn.myanimelist.net/images/anime/7/455...,https://myanimelist.net/anime/16934/Chuunibyou...

In [64]:
anime_columns = [f'a{n}' for n in range(10)] + ['ar']
for column in anime_columns:
    letter = str(column[-1])
    input_no_info = input_no_info.rename(columns={column: 'uid'})
    input_no_info = input_no_info.merge(animes_data[['uid', 'genre', 'episodes', 'score']], on='uid')
    input_no_info = input_no_info.rename(columns={'uid': column, 'genre': f'genre{letter}', 'episodes': f'episodes{letter}', 'score': f'score{letter}'})
input_no_info

,a0,a1,a2,a3,a4,a5,a6,a7,a8,a9,...,score7,genre8,episodes8,score8,genre9,episodes9,score9,genrer,episodesr,scorer
0,33352,25013,5530,33674,1482,269,18245,2904,27899,17074,...,8.93,"['Action', 'Mystery', 'Horror', 'Psychological...",12.0,7.28,"['Mystery', 'Comedy', 'Supernatural', 'Romance...",26.0,8.76,"['Action', 'Comedy', 'Historical', 'Parody', '...",12.0,8.94
1,33352,25013,5530,33674,1482,269,18245,2904,27899,17074,...,8.93,"['Action', 'Mystery', 'Horror', 'Psychological...",12.0,7.28,"['Mystery', 'Comedy', 'Supernatural', 'Romance...",26.0,8.76,"['Action', 'Comedy', 'Historical', 'Parody', '...",12.0,8.94
2,23273,6594,4181,1210,28211,2418,245,10793,6114,2904,...,7.65,"['Drama', 'Historical', 'Seinen', 'Thriller']",26.0,8.54,"['Action', 'Military', 'Sci-Fi', 'Super Power'...",25.0,8.93,"['Action', 'Comedy', 'Historical', 'Parody', '...",12.0,8.94
3,23273,6594,4181,1210,28211,2418,245,10793,6114,2904,...,7.65,"['Drama', 'Historical', 'Seinen', 'Thriller']",26.0,8.54,"['Action', 'Military', 'Sci-Fi', 'Super Power'...",25.0,8.93,"['Action', 'Comedy', 'Historical', 'Parody', '...",12.0,8.94
4,2001,44,45,1575,5114,9756,889,918,19703,11061,...,8.97,"['Action', 'Fantasy', 'Supernatural']",10.0,7.84,"['Action', 'Adventure', 'Fantasy', 'Shounen', ...",148.0,9.11,"['Action', 'Comedy', 'Historical', 'Parody', '...",12.0,8.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50467,18655,18691,1263,3442,15843,8110,1359,2896,15097,4010,...,6.52,['Hentai'],3.0,7.22,"['Hentai', 'Demons', 'Supernatural', 'School']",2.0,6.85,['Hentai'],4.0,6.63
50468,18655,18691,1263,3442,15843,8110,1359,2896,15097,4010,...,6.52,['Hentai'],3.0,7.22,"['Hentai', 'Demons', 'Supernatural', 'School']",2.0,6.85,['Hentai'],2.0,5.34
50469,18655,18691,1263,3442,15843,8110,1359,2896,15097,4010,...,6.52,['Hentai'],3.0,7.22,"['Hentai', 'Demons', 'Supernatural', 'School']",2.0,6.85,['Hentai'],2.0,5.34
50470,18655,18691,1263,3442,15843,8110,1359,2896,15097,4010,...,6.52,['Hentai'],3.0,7.22,"['Hentai', 'Demons', 'Supernatural', 'School']",2.0,6.85,['Hentai'],2.0,5.55
50471,18655,18691,1263,3442,15843,8110,1359,2896,15097,4010,...,6.52,['Hentai'],3.0,7.22,"['Hentai', 'Demons', 'Supernatural', 'School']",2.0,6.85,['Hentai'],2.0,5.55

In [65]:
anime_columns = ['a0', 'genre0', 'episodes0', 'score0',
                 'a1', 'genre1', 'episodes1', 'score1',
                 'a2', 'genre2', 'episodes2', 'score2',
                 'a3', 'genre3', 'episodes3', 'score3',
                 'a4', 'genre4', 'episodes4', 'score4',
                 'a5', 'genre5', 'episodes5', 'score5',
                 'a6', 'genre6', 'episodes6', 'score6',
                 'a7', 'genre7', 'episodes7', 'score7',
                 'a8', 'genre8', 'episodes8', 'score8',
                 'a9', 'genre9', 'episodes9', 'score9',
                 'ar', 'genrer', 'episodesr', 'scorer',
                 'like']
input_df = pd.DataFrame({column: input_no_info[column] for column in anime_columns})
input_df

,a0,genre0,episodes0,score0,a1,genre1,episodes1,score1,a2,genre2,...,score8,a9,genre9,episodes9,score9,ar,genrer,episodesr,scorer,like
0,33352,"['Slice of Life', 'Drama', 'Fantasy']",13.0,8.62,25013,"['Action', 'Adventure', 'Comedy', 'Fantasy', '...",24.0,8.13,5530,"['Adventure', 'Fantasy', 'Mystery', 'Shounen',...",...,7.28,17074,"['Mystery', 'Comedy', 'Supernatural', 'Romance...",26.0,8.76,34096,"['Action', 'Comedy', 'Historical', 'Parody', '...",12.0,8.94,Y
1,33352,"['Slice of Life', 'Drama', 'Fantasy']",13.0,8.62,25013,"['Action', 'Adventure', 'Comedy', 'Fantasy', '...",24.0,8.13,5530,"['Adventure', 'Fantasy', 'Mystery', 'Shounen',...",...,7.28,17074,"['Mystery', 'Comedy', 'Supernatural', 'Romance...",26.0,8.76,34096,"['Action', 'Comedy', 'Historical', 'Parody', '...",12.0,8.94,Y
2,23273,"['Drama', 'Music', 'Romance', 'School', 'Shoun...",22.0,8.83,6594,"['Action', 'Adventure', 'Historical', 'Martial...",12.0,8.39,4181,"['Slice of Life', 'Comedy', 'Supernatural', 'D...",...,8.54,2904,"['Action', 'Military', 'Sci-Fi', 'Super Power'...",25.0,8.93,34096,"['Action', 'Comedy', 'Historical', 'Parody', '...",12.0,8.94,Y
3,23273,"['Drama', 'Music', 'Romance', 'School', 'Shoun...",22.0,8.83,6594,"['Action', 'Adventure', 'Historical', 'Martial...",12.0,8.39,4181,"['Slice of Life', 'Comedy', 'Supernatural', 'D...",...,8.54,2904,"['Action', 'Military', 'Sci-Fi', 'Super Power'...",25.0,8.93,34096,"['Action', 'Comedy', 'Historical', 'Parody', '...",12.0,8.94,Y
4,2001,"['Action', 'Adventure', 'Comedy', 'Mecha', 'Sc...",27.0,8.70,44,"['Action', 'Historical', 'Drama', 'Romance', '...",4.0,8.75,45,"['Action', 'Adventure', 'Comedy', 'Historical'...",...,7.84,11061,"['Action', 'Adventure', 'Fantasy', 'Shounen', ...",148.0,9.11,34096,"['Action', 'Comedy', 'Historical', 'Parody', '...",12.0,8.94,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50467,18655,"['Hentai', 'Romance']",2.0,7.31,18691,['Hentai'],6.0,7.32,1263,"['Drama', 'Fantasy', 'Hentai', 'Romance']",...,7.22,4010,"['Hentai', 'Demons', 'Supernatural', 'School']",2.0,6.85,7708,['Hentai'],4.0,6.63,Y
50468,18655,"['Hentai', 'Romance']",2.0,7.31,18691,['Hentai'],6.0,7.32,1263,"['Drama', 'Fantasy', 'Hentai', 'Romance']",...,7.22,4010,"['Hentai', 'Demons', 'Supernatural', 'School']",2.0,6.85,3981,['Hentai'],2.0,5.34,N
50469,18655,"['Hentai', 'Romance']",2.0,7.31,18691,['Hentai'],6.0,7.32,1263,"['Drama', 'Fantasy', 'Hentai', 'Romance']",...,7.22,4010,"['Hentai', 'Demons', 'Supernatural', 'School']",2.0,6.85,3981,['Hentai'],2.0,5.34,N
50470,18655,"['Hentai', 'Romance']",2.0,7.31,18691,['Hentai'],6.0,7.32,1263,"['Drama', 'Fantasy', 'Hentai', 'Romance']",...,7.22,4010,"['Hentai', 'Demons', 'Supernatural', 'School']",2.0,6.85,1511,['Hentai'],2.0,5.55,N
50471,18655,"['Hentai', 'Romance']",2.0,7.31,18691,['Hentai'],6.0,7.32,1263,"['Drama', 'Fantasy', 'Hentai', 'Romance']",...,7.22,4010,"['Hentai', 'Demons', 'Supernatural', 'School']",2.0,6.85,1511,['Hentai'],2.0,5.55,N

In [66]:
input_df.to_csv('./MAL_data/input.csv')