In [158]:
import numpy as np
import pandas as pd
import json
import warnings
warnings.filterwarnings('ignore')

In [159]:
animes_data = pd.read_csv('./MAL_Data/animes.csv').drop_duplicates(subset=['uid'])
animes_data

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,img_url,link
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...","Oct 4, 2015 to Mar 27, 2016",25.0,489888,141,25.0,8.82,https://cdn.myanimelist.net/images/anime/9/766...,https://myanimelist.net/anime/28891/Haikyuu_Se...
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"['Drama', 'Music', 'Romance', 'School', 'Shoun...","Oct 10, 2014 to Mar 20, 2015",22.0,995473,28,24.0,8.83,https://cdn.myanimelist.net/images/anime/3/671...,https://myanimelist.net/anime/23273/Shigatsu_w...
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...","Jul 7, 2017 to Sep 29, 2017",13.0,581663,98,23.0,8.83,https://cdn.myanimelist.net/images/anime/6/867...,https://myanimelist.net/anime/34599/Made_in_Abyss
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...","['Action', 'Military', 'Adventure', 'Comedy', ...","Apr 5, 2009 to Jul 4, 2010",64.0,1615084,4,1.0,9.23,https://cdn.myanimelist.net/images/anime/1223/...,https://myanimelist.net/anime/5114/Fullmetal_A...
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,"['Action', 'Mystery', 'Supernatural', 'Vampire']","Jan 6, 2017",1.0,214621,502,22.0,8.83,https://cdn.myanimelist.net/images/anime/3/815...,https://myanimelist.net/anime/31758/Kizumonoga...
...,...,...,...,...,...,...,...,...,...,...,...,...
19002,10075,Naruto x UT,All-new animation offered throughout UNIQLO cl...,"['Action', 'Comedy', 'Super Power', 'Martial A...","Jan 1, 2011",1.0,34155,2382,1728.0,7.50,https://cdn.myanimelist.net/images/anime/3/304...,https://myanimelist.net/anime/10075/Naruto_x_UT
19003,35828,Miira no Kaikata,High school student Sora Kashiwagi is accustom...,"['Slice of Life', 'Comedy', 'Supernatural']","Jan 12, 2018 to Mar 30, 2018",12.0,61459,1648,1727.0,7.50,https://cdn.myanimelist.net/images/anime/1486/...,https://myanimelist.net/anime/35828/Miira_no_K...
19004,10378,Shinryaku!? Ika Musume,"After regaining her squid-like abilities, Ika ...","['Slice of Life', 'Comedy', 'Shounen']","Sep 27, 2011 to Dec 25, 2011",12.0,67422,1547,1548.0,7.56,https://cdn.myanimelist.net/images/anime/6/301...,https://myanimelist.net/anime/10378/Shinryaku_...
19005,33082,Kingsglaive: Final Fantasy XV,"For years, the Niflheim Empire and the kingdom...",['Action'],"Jul 9, 2016",1.0,41077,2154,1544.0,7.56,https://cdn.myanimelist.net/images/anime/12/79...,https://myanimelist.net/anime/33082/Kingsglaiv...
19006,16934,Chuunibyou demo Koi ga Shitai!: Kirameki no......,Although Yuuta Togashi and Rikka Takanashi hav...,"['Comedy', 'Drama', 'Romance', 'School', 'Slic...","Jun 19, 2013",1.0,128400,883,1533.0,7.56,https://cdn.myanimelist.net/images/anime/7/455...,https://myanimelist.net/anime/16934/Chuunibyou...

In [160]:
profiles_data = pd.read_csv('./MAL_Data/profiles.csv')
profiles_data

,profile,gender,birthday,favorites_anime,link
0,DesolatePsyche,Male,"Oct 2, 1994","['33352', '25013', '5530', '33674', '1482', '2...",https://myanimelist.net/profile/DesolatePsyche
1,baekbeans,Female,"Nov 10, 2000","['11061', '31964', '853', '20583', '918', '925...",https://myanimelist.net/profile/baekbeans
2,skrn,NaN,NaN,"['918', '2904', '11741', '17074', '23273', '32...",https://myanimelist.net/profile/skrn
3,edgewalker00,Male,Sep 5,"['5680', '849', '2904', '3588', '37349']",https://myanimelist.net/profile/edgewalker00
4,aManOfCulture99,Male,"Oct 30, 1999","['4181', '7791', '9617', '5680', '2167', '4382...",https://myanimelist.net/profile/aManOfCulture99
...,...,...,...,...,...
81722,lovelessxd,Female,"Aug 6, 1992","['853', '5114']",https://myanimelist.net/profile/lovelessxd
81723,Shattered_Angel,Female,"Sep 6, 1994","['150', '27', '1520', '121', '31452', '32995',...",https://myanimelist.net/profile/Shattered_Angel
81724,FluffyWalrus,Male,NaN,"['121', '43', '237', '202', '205']",https://myanimelist.net/profile/FluffyWalrus
81725,camco,Female,Sep 23,"['199', '4224', '7054', '13601', '14713']",https://myanimelist.net/profile/camco
81726,nyja-chan,Female,Nov 13,"['39195', '38000', '440', '457', '34599', '225...",https://myanimelist.net/profile/nyja-chan

In [161]:
reviews_data = pd.read_csv('./MAL_Data/reviews.csv')
reviews_data

,uid,profile,anime_uid,text,score,scores,link
0,255938,DesolatePsyche,34096,\n \n \n \n ...,8,"{'Overall': '8', 'Story': '8', 'Animation': '8...",https://myanimelist.net/reviews.php?id=255938
1,259117,baekbeans,34599,\n \n \n \n ...,10,"{'Overall': '10', 'Story': '10', 'Animation': ...",https://myanimelist.net/reviews.php?id=259117
2,253664,skrn,28891,\n \n \n \n ...,7,"{'Overall': '7', 'Story': '7', 'Animation': '9...",https://myanimelist.net/reviews.php?id=253664
3,8254,edgewalker00,2904,\n \n \n \n ...,9,"{'Overall': '9', 'Story': '9', 'Animation': '9...",https://myanimelist.net/reviews.php?id=8254
4,291149,aManOfCulture99,4181,\n \n \n \n ...,10,"{'Overall': '10', 'Story': '10', 'Animation': ...",https://myanimelist.net/reviews.php?id=291149
...,...,...,...,...,...,...,...
192107,240067,Unicorn819,1281,\n \n \n \n ...,9,"{'Overall': '9', 'Story': '5', 'Animation': '1...",https://myanimelist.net/reviews.php?id=240067
192108,285777,ShizzoSVH,1281,\n \n \n \n ...,9,"{'Overall': '9', 'Story': '7', 'Animation': '9...",https://myanimelist.net/reviews.php?id=285777
192109,286904,AlluMan96,1281,\n \n \n \n ...,3,"{'Overall': '3', 'Story': '3', 'Animation': '1...",https://myanimelist.net/reviews.php?id=286904
192110,287903,AgentK300,1281,\n \n \n \n ...,10,"{'Overall': '10', 'Story': '3', 'Animation': '...",https://myanimelist.net/reviews.php?id=287903
192111,299323,Scarlet012,1281,\n \n \n \n ...,9,"{'Overall': '9', 'Story': '7', 'Animation': '8...",https://myanimelist.net/reviews.php?id=299323

In [162]:
profiles_copy = profiles_data[['profile', 'favorites_anime']].copy().drop_duplicates()
def load_top_10(entry):
    top_10 = json.loads(entry)
    if len(top_10) == 0:
        return np.nan
    top_10 = top_10[0:min(10, len(top_10))]
    top_10 = [int(anime_id) for anime_id in top_10]
    top_10 += [0] * (10 - len(top_10))
    return np.asarray(top_10)
profiles_copy['favorites_anime'] = profiles_copy['favorites_anime'].str.replace('\'', '\"').apply(load_top_10)
profiles_copy.dropna(inplace=True)
for i in range(10):
    a = np.stack(np.asarray(profiles_copy['favorites_anime']))[:, i]
    profiles_copy[f'a{i}'] = a
profiles_copy.drop(columns=['favorites_anime'], inplace=True)
profiles_copy

,profile,a0,a1,a2,a3,a4,a5,a6,a7,a8,a9
0,DesolatePsyche,33352,25013,5530,33674,1482,269,18245,2904,27899,17074
1,baekbeans,11061,31964,853,20583,918,9253,34599,3588,13601,6956
2,skrn,918,2904,11741,17074,23273,32281,9989,1943,512,0
3,edgewalker00,5680,849,2904,3588,37349,0,0,0,0,0
4,aManOfCulture99,4181,7791,9617,5680,2167,4382,849,235,35180,31646
...,...,...,...,...,...,...,...,...,...,...,...
77646,WeissYuki,36563,237,23273,32979,23283,12189,5114,4282,0,0
77651,Akuteru,6624,20785,17265,28121,0,0,0,0,0,0
77652,Razielek,47,523,820,30,339,0,0,0,0,0
77654,Mattierial,10087,21327,585,28851,32281,431,578,5114,1535,0
77657,bridgesams,37510,35180,30,31043,5081,37450,11843,0,0,0

In [163]:
def convert_bins(score):
    if score < 7:
        return 'N'
    return 'Y'
reviews = reviews_data[['profile', 'anime_uid', 'score']]
reviews['like'] = reviews['score'].apply(convert_bins)
reviews.drop(columns=['score'], inplace=True)
reviews = pd.merge(reviews, profiles_copy, on='profile')
reviews.rename(columns={'anime_uid': 'ar'}, inplace=True)
reviews = pd.DataFrame({'a0': reviews['a0'].astype('string'),
                        'a1': reviews['a1'].astype('string'),
                        'a2': reviews['a2'].astype('string'),
                        'a3': reviews['a3'].astype('string'),
                        'a4': reviews['a4'].astype('string'),
                        'a5': reviews['a5'].astype('string'),
                        'a6': reviews['a6'].astype('string'),
                        'a7': reviews['a7'].astype('string'),
                        'a8': reviews['a8'].astype('string'),
                        'a9': reviews['a9'].astype('string'),
                        'ar': reviews['ar'].astype('string'),
                        'like': reviews['like']})
reviews

,a0,a1,a2,a3,a4,a5,a6,a7,a8,a9,ar,like
0,33352,25013,5530,33674,1482,269,18245,2904,27899,17074,34096,Y
1,33352,25013,5530,33674,1482,269,18245,2904,27899,17074,12403,N
2,33352,25013,5530,33674,1482,269,18245,2904,27899,17074,35073,N
3,33352,25013,5530,33674,1482,269,18245,2904,27899,17074,23225,Y
4,33352,25013,5530,33674,1482,269,18245,2904,27899,17074,2035,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
161642,36563,237,23273,32979,23283,12189,5114,4282,0,0,2593,Y
161643,6624,20785,17265,28121,0,0,0,0,0,0,2593,Y
161644,47,523,820,30,339,0,0,0,0,0,2593,Y
161645,10087,21327,585,28851,32281,431,578,5114,1535,0,2593,Y
161646,37510,35180,30,31043,5081,37450,11843,0,0,0,2593,Y

In [164]:
reviews.to_csv('./MAL_data/input_no_info.csv')